/* Basic CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  box-sizing: border-box;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Generel styling af body */
.page__body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-height: 100%;
  margin: 0 auto;
  background-image: url(images/baggrund.png);
}

/* Navbar starter her  */
/* Gør neavbaren sticky  */ 
header{
  position: sticky;
  top: 0;
}

/* Styling af header */ /* skriv eventuelt header og så disse værdier til hvis noget mad nav ikke virker*/
.navigation__container{
  background-color: #0b2756;
}

.mobileiconlabel{
  display: inline-block;
  color: white;
  font-style: normal;
  font-size: 1.8rem;
  padding: 15px;
}

.menuitem{
  display: block;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 5px 0 5px;
  color: white;
  text-decoration: none;
  text-align: center;
}

/* Få checkbox og menupunkter (menuitems) til at forsvinde indtil der klikkes */
.menuitems__container, 
.mobileicon{
  display: none;
}

/* Vis menupunkter når mobilikon klikkes på */
.navigation__container input:checked ~ .menuitems__container{
  display: block;
  height: 100vh;
  line-height: 75px;
  background-color: #0b2756;
}

/* Display logo til højre når mobilikonet klikes på */
.companylogo{
  position: absolute;
  top: 7px;
  right:12px;
  width: 90px;
}

/* Responsive navbar til store skærme */
  @media screen and (min-width: 992px){

  /* Få mobilikonet til at forsvinde */
  .mobileiconlabel, 
  .mobileicon{
    display: none;
  }

  /* Få menupunkter til at flexe horisontalt (i en række) */
  .menuitems__container{
    display: flex;
    justify-content: flex-end;
  }

  .menuitem{
    width: 150px;
  }

  .menuitem:hover{
    background: #b7997a;
  } 

  .companylogo{
    left: 10px;
  }
}
/* Navbar slutter her */


/* Styling af tekst og 1. flexcontainer */
.heading_title{
  font-size: 2.3rem;
  color: #0b2756;
  text-align: center;
  padding: 20px 20px 0 20px;
}

.sub_title{
  font-size: 1.2rem;
  text-align: center;
  padding: 10px 20px 0 20px;
  line-height: 25px;
}

.firstcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.spinthewheel{
  max-width: 100%;
  padding: 30px;
}

/* Styling af billeder og 2. flexcontainer */
.image_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.images{
  width: 250px;
  height: 380px;
  padding: 20px;
}

.second_container{
  margin: 30px;
  border: 3px solid #b7997a;
}

.text{
  font-size: 1.2rem;
  text-align: center;
  line-height: 25px;
}


/* Styling af footer */
footer{
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  border-top: 4px solid #0b2756;
  text-align: center;
}
  
h2 {
  font-weight:600;
  font-size: 1.3rem;
  padding-top:10px;
}
  
.footer ul{
  list-style:none;
  padding-left:0;
}
  
.footer li{
  line-height:2rem;
}
  
.row{
  display: flex;
  flex-flow:row wrap;
}
  
.row > * {
  flex: 1 50%;
  margin-right: 1.25em;
}
  
.copyright{
  font-size: 10px;
  }
  
/* Styling af some ikoner */
.some_icon{
  width: 50px;
  height: 50px;
  margin: 4px;
}
  
.some{
  width: 100px;
}
  
/* Footer på store skærme */
@media screen and (min-width: 688px){
  .row > * {
    flex:1;
  }
}
  
@media (min-width: 688px){
  .footer {
    padding: 10px;
  }
}
  
    
  
  
  
  
  
   